.cartao {
    background-color: aqua;

    border: solid 2px black;

    text-align:  center;

    width: 200px;

    height: fit-content;

    padding: 20px;

    margin: 20px;


}

.pai-dos-cartoes{

    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 900px;
    flex-flow: row wrap;
    align-content:;
}