h1 {
    color:blue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: aquamarine;
    
}


p{
    background-color: aqua;
    width: 200px;
    
}

.sub { 
    display: list-item;

}

